body {
    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;

    text-transform: uppercase;
    min-width: 960px;

    color: black;
}

.quote-title {
    font-size: 48px;
    line-height: 48px;
}

.text-title {
    font-size: 24px;
    line-height: 24px;
}

.features-title {
    font-size: 30px;
    line-height: 30px;

    color: #f7f4f1;
}


/**************************/
/* Header */
.main-header {
    min-height: 72px;

    background-color: #000;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;

}

.clearfix::after {
    display: table;
    clear: both;

    content: "";
}


/* Меню */
.main-navigation {
    float: left;

    width: 760px;
}

.main-navigation ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

.main-navigation li {
    display: inline-block;
    position: relative;
}

.main-navigation a {
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;

    display: block;

    padding-top: 27px;
    padding-bottom: 29px;
    padding-left: 21px;
    padding-right: 18px;

    text-decoration: none;
    text-transform: uppercase;

    color: white;
}

.main-navigation .active::after {
    content: "";
    position: absolute;
    background-color: #fff;
    left: 21px;
    right: 18px;
    bottom: 0;
    height: 4px;
}

/* Хотя я предпочитаю, когда свободная зона тоже кликабельна*/
/* Можно реализовать либо тройным селектором либо доп. классом*/
.main-navigation li:hover {
    background-color: #242424;
}

/* Блок авторизации*/
.user-block {
    float: right;

    width: 107px;

    text-align: right;
}

.user-block .sign-up-link {
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;

    display: block;

    padding-top: 25px;
    padding-right: 21px;
    padding-bottom: 29px;

    text-decoration: none;
    text-transform: uppercase;

    color: white;
}

.user-block .sign-up-link:hover {
    background-color: #242424;
}

.sign-up-link::before {
    content: "";
    position: relative;
    top: 3px;
    left: -10px;

    display: inline-block;

    background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat;
    width: 18px;
    height: 16px;
    background-position: -60px -5px;
}

.sign-up-link:hover::before {
    opacity: 0.3;
}

/* Основной блок страницы */
.main-page {
    /* Не получилось в данном случае использовать margin-bottom*/
    padding-top: 55px;

    background: #fffcf9 url("../img/bg-texture-1.png");
}

/* Заголовок страницы*/
/* Чего-то шрифт не до конца совпадает... */
.page-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;

    margin: 0;
    margin-bottom: 26px;
}

/* Хлебные крошки */
.breadcrumbs {
    font-size: 0;
    line-height: 0;

    margin: 0;
    margin-bottom: 57px;
    padding: 0;

    list-style: none;
}

/* Корректировка нижнего отступа для страницы с товаром*/
/* Для выполнения требований по Pixel Perfect*/
.margin-fix {
    margin-bottom: 60px;
}

.breadcrumbs li {
    font-size: 14px;
    line-height: 14px;

    position: relative;

    display: inline-block;

    padding-right: 38px;
}

.breadcrumbs a {
    text-decoration: none;

    color: #000;
}

/* Это я инициативу проявил*/
.breadcrumbs a:hover {
    color: #5a3007;
}

.breadcrumbs li::before {
    position: absolute;
    top: 3px;
    left: -23px;

    display: block;

    width: 8px;
    height: 8px;

    content: "";
    transform: rotate(45deg);

    background-color: #000;
}

.breadcrumbs li:first-child::before {
    display: none;
}

.breadcrumbs li:last-child {
    font-size: 13px;
    line-height: 14px;

    color: #aba9a7;
}


/*                         Левый сайдбар с фильтрами                         */
.filters-section {
    float: left;

    width: 240px;
}

.filters-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;

    margin: 0;
    padding: 0;
}

.filters-list-checkbox,
.filters-list-radio {
    font-size: 14px;
    line-height: 17px;

    margin: 0;
    padding: 0;

    border: none;
}

/*                      Блок с чекбоксами Производители                      */
.filters-list-checkbox {
    margin-bottom: 32px;
}

.filters-list-checkbox div {
    margin-bottom: 20px;
}

.filters-list-checkbox .filters-title {
    margin-bottom: 32px;
}

.filters-list-checkbox input[type="checkbox"] {
    display: none;
}

.filters-list-checkbox label {
    position: relative;

    display: block;

    padding-right: 10px;
    padding-left: 44px;
}

.filters-list-checkbox label:hover {
    cursor: pointer;
}

.filters-list-checkbox label::before {
    position: absolute;
    top: -1px;
    left: 0;

    width: 16px;
    height: 16px;

    content: "";

    border: 2px solid #000;
}

input[type="checkbox"]:checked ~ label::after {
    position: absolute;
    top: 3px;
    left: 4px;

    display: block;

    width: 12px;
    height: 12px;

    content: "";

    background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    background-position: -5px -5px;
}

/* Как-то не так насыщенно цвет смотрится, чем как в макете*/
input[type="checkbox"]:checked ~ label {
  color: #663d15;
}

input[type="checkbox"]:disabled ~ label {
  color: #adaba9;
  cursor: default;
}

/*                   Блок с радиобаттонами Группы товаров                   */
.filters-list-radio {
    margin-bottom: 32px;
}

.filters-list-radio .filters-title {
    margin-bottom: 35px;
}

.filters-list-radio div {
    line-height: 16px;

    margin-bottom: 22px;
}

.filters-list-radio input[type="radio"] {
    display: none;
}

/* Здесь учтено, чтобы при переносе строки отступ сохранялся +
был отступ от правого края*/
.filters-list-radio label {
    position: relative;

    display: block;

    padding-right: 10px;
    padding-left: 44px;
}

.filters-list-radio label:hover {
    cursor: pointer;
}

.filters-list-radio label::before {
    position: absolute;
    top: -2px;
    left: 0;

    display: block;

    width: 16px;
    height: 16px;

    content: "";

    border: 2px solid #000;
    border-radius: 50%;
}

/*аналогично, чтобы максимум было два селектора*/
input[type="radio"]:checked ~ label::after {
    position: absolute;
    top: 4px;
    left: 6px;

    display: block;

    width: 0;
    height: 0;

    content: "";

    border: 4px solid #000;
    border-radius: 50%;
}

input[type="radio"]:checked ~ label {
  color: #663d15;
}

input[type="radio"]:disabled ~ label {
  color: #adaba9;
  cursor: default;
}

/* Кнопка Показать*/
.filter-button {
    font-size: 13px;
    font-weight: 700;
    line-height: 11px;

    margin: 0;
    padding: 0;
    padding: 16px 28px 17px 33px;

    text-transform: uppercase;

    color: #fff;
    border: none;
    background-color: #000;
}

.filter-button:hover {
    background-color: #663d15;
}

/* Убрал ненужную синию обводку*/
.filter-button:focus {
    outline: none;
}


/* Правая часть с каталогом и пагинацией */
.wrapper {
    float: right;

    width: 700px;
    /* Здесь пришлось сверху двигать, если ли другой способ, чтобы использовать margin-bottom?*/
    /* для пиксель перфект*/
    margin-top: 3px;
}

/* Каталог товаров */
.items-section {
    font-size: 0;
    line-height: 0;

    margin-bottom: 24px;
}

/* Товар */
.item {
    font-size: 14px;
    line-height: 18px;

    display: inline-block;

    width: 220px;
    margin-right: 20px;
    margin-bottom: 20px;

    vertical-align: top;

    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 1, 1, .2);
}

.item:hover {
    box-shadow: 3.2px 3.8px 25px rgba(0, 1, 1, .3);
}

.item:nth-child(3n) {
    margin-right: 0;
    margin-bottom: 0;
}

.item-image {
    display: block;
    margin-bottom: 13px;
}

.item-image img {
    display: block;
    max-width: 100%;
    height: auto;
}

.item-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;

    margin: 0;
    margin-bottom: 13px;
    margin-left: 16px;
    padding: 0;

    text-transform: none;

    color: #000;
}

.item-title a {
    text-decoration: none;

    color: #000;
}

.item-title-up {
    text-transform: uppercase;
}

 /*                               Блок с ценой                               */
.item-price-block {
    display: table;

    font-size: 14px;
    font-weight: 700;

    text-align: center;
}

.item-price {
    display: table-cell;
    vertical-align: middle;
    width: 109px;
    height: 43px;

    background-color: #e6e6e6;
}

.item-cart-link {
    display: table-cell;
    vertical-align: middle;
    width: 78px;
    height: 43px;

    color: #fff;
    background-color: #000;

    text-decoration: none;
}

.item-cart-link:hover {
    background: #663d15;
}

.item-price-positioner {
    display: block;
    margin-left: 16px;
    margin-right: 17px;
    margin-bottom: 16px;
}

/*                                 Пагинация                                 */
.pagination {
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;

    margin: 0;
    margin-bottom: 47px;
    padding: 0;

    list-style: none;

    text-transform: uppercase;
}

.pagination li {
    display: inline-block;

    margin-right: 4px;
}

.pagination a {
    display: block;

    padding: 14px 18px 15px 18px;

    text-decoration: none;

    color: #fff;
    background-color: #000;
}

.pagination a:hover {
    background-color: #663d15;
}

.pagination .active {
    display: block;

    padding: 14px 18px 15px 18px;

    color: #000;
    background-color: #fff;
}

/*                                   Футер                                   */
.main-footer {
    font-size: 14px;
    line-height: 24px;

    padding-top: 56px;
    padding-bottom: 41px;

    color: #fff;
    background: url("../img/bg-footer-line-short.png") repeat-x,
    #222 url("../img/bg-texture-2.png");
}

.main-footer a {
    color: #fff;
}

.footer-contacts {
    float: left;

    width: 320px;
    margin-right: 80px;
}

/* Это я инициативу проявил*/
.footer-contacts a:hover {
    text-decoration: none;

    color: #c8a581;
}

.footer-social {
    float: left;

    max-width: 320px;
}

.footer-social p {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;

    text-align: center;
}

.social-icons {
    font-size: 0;
    line-height: 0;
}

.social-btn {
    font-size: 14px;
    line-height: 24px;

    position: relative;

    display: inline-block;

    width: 43px;
    height: 43px;
    margin-right: 6px;

    vertical-align: top;

    background-color: #000;
    /* Можно ли написать текст внутри и убирать его для прогрессивного улучшения*/
    /* Допустимо ли использование этого для прогрессивного улучшения?*/
    /*text-indent: -9999px;*/
    /**/
}

.social-btn:last-child {
  margin-right: 0;
}

.social-btn:hover {
    background-color: #fff;
}

.icon-vk {
    position: absolute;
    top: 50%;
    left: 50%;

    display: inline-block;
    /* Можно ли центровать не указывая конкретный размер?*/

    width: 25px;
    height: 16px;

    transform: translate(-50%, -50%);

    background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat;
    width: 25px;
    height: 16px;
    background-position: -5px -93px;
}

.social-btn:hover .icon-vk {
    background-position: -74px -67px;
}

.icon-fb {
    position: absolute;
    top: 50%;
    left: 50%;

    display: inline-block;

    width: 12px;
    height: 22px;

    transform: translate(-50%, -50%);

    background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat;
    width: 12px;
    height: 22px;
    background-position: -52px -58px;
}

.social-btn:hover .icon-fb {
    background-position: -30px -58px;
}

.icon-im {
    position: absolute;
    top: 50%;
    left: 50%;

    display: inline-block;
    /* В макете эта иконка не правильно отценрована, к слову*/

    width: 21px;
    height: 21px;

    transform: translate(-50%, -50%);

    background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat;
    width: 21px;
    height: 21px;
    background-position: -85px -36px;
}

.social-btn:hover .icon-im {
    background-position: -88px -5px;
}

.footer-copyright {
    float: right;

    max-width: 220px;
}

.footer-copyright p {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;

    text-align: center;
}

.footer-copyright .copyright-link {
    display: inline-block;

    padding: 9px 20px 10px 23px;

    text-decoration: none;

    background-color: #000;
}

.footer-copyright .copyright-link:hover {
    color: #000;
    background-color: #fff;
}


/*                             Главная страница                              */
.index-page {
  background: #000 url("../img/background.jpg") no-repeat center top;
  color: #fff;
}

.logo {
  width: 368px;
  height: 204px;
  margin: 0 auto;
  margin-bottom: 25px;
  margin-top: 60px;
}

.logo img {
  width: 368px;
  height: 204px;
}

.features-row {
  margin-bottom: 80px;
}

.features-item {
  float: left;

  width: 300px;
  margin-right: 20px;

  text-align: center;
}

.features-item:last-child {
   margin-right: 0;
}

.features-title {
  position: relative;

  padding-bottom: 50px;
  margin-bottom: 30px;

  font-size: 30px;
  line-height: 42px;
}

.features-item p {
  margin: 10px;
}

.features-title:after {
  content: "";

  position: absolute;
  bottom: 0;
  left: 50%;

  display: block;
  width: 20px;
  height: 20px;
  margin-left: -10px;

  background: #fff;
  transform: rotate(45deg);
}

.index-content {
  margin-bottom: 35px;
  padding: 50px 80px;

  color: #000;
  background:
    url("../img/bg-separator.png") no-repeat center,
    #f8f5f2 url("../img/bg-texture-1.png");
}

.content-column-left {
  width: 350px; /* спасибо дизайнеру */
}

.content-column-right {
  width: 300px;
}

.content-column-left {
  float: left;
}

.content-column-right {
  float: right;
}

.content-column-title {
  margin: 0;
  margin-bottom: 35px;

  font-size: 30px;
  line-height: 42px;
}

.news-preview {
  margin: 0;
  padding: 0;
  list-style: none;
}

.news-preview li {
  margin-bottom: 25px;
}

.news-preview time {
  text-transform: none;
}

.btn {
  display: inline-block;
  vertical-align: top;
  padding: 10px 33px;
  margin-right: 16px;

  font-size: 14px;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  color: #fff;
  background: #000;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background: #663d15;
}

.btn:disabled {
  cursor: default;
  opacity: .5;
}

.btn:disabled:hover {
  background: #000;
}

.gallery {
  position: relative;
  height: 260px;
}

.gallery-content {
  height: 164px;
  margin: 0;

  border: 7px solid white;
  background: #ccc;
}

.gallery-content img {
  width: 286px;
  height: 164px;
}

.gallery .btn {
  position: absolute;
  bottom: 0;

  width: 140px;
  margin: 0;
}

.gallery-prev {
  left: 0;
}

.gallery-next {
  right: 0;
}

.index-content p {
  margin: 0;
  margin-bottom: 25px;
}

.appointment-form  input {
  float: left;

  margin-right: 20px;
  margin-bottom: 20px;
  width: 106px;
  padding: 10px 15px;
  border: 2px solid #000;

  font-family: "PT Sans Narrow", sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;

  color: #000;
  background: #f9f6f3;
  outline: none;
}

.appointment-form  input:focus {
  border: 2px solid #663d15;
}

.appointment-form  input:nth-child(2n) {
  margin-right: 0;
}

.appointment-form .btn {
  clear: both;
  width: 100%;
}


/*                            Страница Прайс-лист                            */
/* Общие стили для контентных тегов */
.inner-content {
  margin-bottom: 75px;
}

.inner-content h2 {
  margin-top: 60px;
  margin-bottom: 30px;
  
  font-size: 24px;
  line-height: 30px;
}

.inner-content p {
  margin: 14px 0;
}

.inner-content table {
  border-collapse: collapse;
}

.inner-content td {
  padding: 10px 15px;
  border: 2px solid black;
}

/* Особые стили для контентных тегов */
.big-heading {
  margin-top: 55px;
  margin-bottom: 65px;
    
  text-align: center;
}

.big-heading h2 {
  position: relative;
  z-index:2;
    
  display: inline;
  margin: 0;
  padding: 0 25px;
    
  font-size: 48px;
  line-height: 48px;
  text-align: center;
    
  background: #f8f3f0 url("../img/bg-texture-1.png") repeat;
}

.big-heading:after {
  content: "";
    
  position: relative;
  top: -25px;
  z-index: 1;
    
  display: block;
  border-bottom: 2px solid black;
}

.custom-list-1 {
  margin: 14px 0;
  padding: 0;
  list-style: none;
}

.custom-list-1 li {
  position: relative;

  margin-bottom: 15px;
  padding-left: 20px;
}

.custom-list-1 li:before {
  content: "";
  
  position: absolute;
  top: 8px;
  left: 0;

  width: 8px;
  height: 8px;  

  background: #000;
  transform: rotate(45deg);
}

.prices-table {
    width: 100%;
}

.prices-table td {
    width: 50%;
}

.prices-table td:last-child {
  text-align: center;
}

.short-text {
  padding-right: 80px;
}

/* Колонки для контента */
.inner-content-columns {
    margin: 60px 0;
}

.inner-content-column-left,
.inner-content-column-right {
  width: 460px;
}

.inner-content-column-left {
  float: left;
}

.inner-content-column-right {
  float: right;
}

.inner-content-column-left *:first-child,
.inner-content-column-right *:first-child {
  margin-top: 0;
}
.inner-content-column-left *:last-child,
.inner-content-column-right *:last-child {
  margin-bottom: 0;
}


/*                         Страница просмотра товара                         */

.item-left-column {
    float: left;

    width: 460px;
}

/* Почему снизу под изображением есть небольшое пространство - откуда оно возникает?*/
.item-image-main {
    /* Пример, чтобы увидеть пространиство:*/
    /*background-color: red;*/
    margin-bottom: 14px;
}

.item-image-view {
    box-shadow: 0 0 15px rgba(0, 1, 1, .2);
}

.item-image-select {
    font-size: 0;
    line-height: 0;

    margin-bottom: 40px;
}

.item-image-preview {
    font-size: 14px;
    line-height: 24px;

    display: inline-block;

    margin-right: 20px;

    vertical-align: top;
}


.item-image-preview:last-child {
    margin-right: 0;
}

.item-image-preview img {
    box-shadow: 0 0 15px rgba(0, 1, 1, .2);
}

.item-image-preview img:hover {
    box-shadow: 3.2px 3.8px 25px rgba(0, 1, 1, .3);
}

.item-right-column {
    float: right;

    width: 390px;
}

.status-line {
    margin-top: 17px;
    margin-bottom: 29px;
}

.status-left {
    float: left;

    width: 190px;

    text-align: left;
}

.status-right {
    float: right;

    width: 190px;
    padding-right: 10px;

    text-align: right;

    color: #aeaeae;
}

/* Не очень пойму, почему текст с макетом не совпадает*/
.product-item .description {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;

    margin-bottom: 36px;
}

/* Отступ именно на странице просмотра товара*/
/* Как вообще правильно такие отступы задавать, если одинаковые блоки,
но на разных страницах разные отступы*/
.product-item .item-price-block {
    margin-bottom: 65px;
}

/* Загадка, почему-то на скриншоте при Пиксель Перфект смещен влево на 1 пиксель,
хотя вроде на макете такого нет*/
.item-composition-title {
    font-size: 24px;
    font-weight: 700;

    margin-bottom: 30px;
}

.item-composition-list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.item-composition-list li {
    position: relative;

    margin-left: 20px;
}

.item-composition-list li::before {
    position: absolute;
    top: 8px;
    left: -18px;

    display: block;

    width: 8px;
    height: 8px;

    content: "";
    transform: rotate(45deg);

    background-color: #000;
}

/*                             Всплывающая форма                             */
.modal-content {
  position: absolute;
  top: 0;
  left: 50%;
  display: none;

  width: 300px;
  margin-top: 150px;
  margin-left: -230px;
  padding: 50px 80px;

  color: black;
  background: #f8f3f0 url("../img/bg-texture-1.png");
  box-shadow: 0 30px 50px rgba(0,0,0,.7);
}

.modal-content-close {
  position: absolute;
  top: 0;
  right: -50px;

  width: 23px;
  height: 23px;

  font-size: 0;
  cursor: pointer;
  background: url("../img/spritesheet.png") no-repeat center;
  background-position: -27px -5px;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }
  70% {
    transform: translateY(30px);
  }
  90% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}


@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

.modal-content h2 {
  margin: 0;
  margin-bottom: 20px;

  font-size: 30px;
  line-height: 42px;
}

.modal-content p {
  margin: 0;
  margin-bottom: 14px;
}

.modal-content .login-form {
  margin-top: 30px;
  margin-bottom: 10px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 236px;
  margin: 0;
  margin-bottom: 10px;
  padding: 10px 20px;
  padding-right: 40px;

  font-family: "PT Sans Narrow", sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;

  color: #000;
  border: 2px solid #000;
  outline: none;
  background: #f9f6f3;
}

.login-form input:focus {
  border-color: #663d15;
}

.login-form input.icon-user {
  background-image: url("../img/icon-user.png");
  background-repeat: no-repeat;
  background-position: 95% 50%;
}

.login-form input.icon-password {
  background-image: url("../img/icon-password.png");
  background-repeat: no-repeat;
  background-position: 95% 50%;
}

.login-form .restore {
  float: right;
  color: #000;
}

.login-form .btn {
  width: 100%;
  margin-top: 15px;
}

.login-form input[type="checkbox"] {
  display: none;
}

.login-form label {
    position: relative;

    display: inline-block;

    padding-right: 10px;
    padding-left: 30px;
}

.login-form label:hover {
    cursor: pointer;
}

.login-form label::before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;

    width: 16px;
    height: 16px;

    content: "";

    border: 2px solid #000;
}

.login-form input[type="checkbox"]:checked + label::after {
    position: absolute;
    top: 4px;
    left: 4px;

    display: inline-block;

    width: 12px;
    height: 12px;

    content: "";

    background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    background-position: -5px -5px;
}

.login-form input[type="checkbox"]:checked + label {
  color: #663d15;
}

.login-form input[type="checkbox"]:disabled + label {
  color: #adaba9;
  cursor: default;
}

/*                             Всплывающая карта                             */
.modal-content-map {
  display: none;

  position: fixed;
  top: 50%;
  left: 50%;

  width: 766px;
  height: 561px;
  margin-left: -390px;
  margin-top: -287.5px;
  border: 7px solid white;

  background: #e9e5dc url("../img/map.png");
  box-shadow: 0 30px 50px rgba(0,0,0,.7);
}

.modal-content-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}